.c-body .c-main {
    background-color: #b0bdb9;
    font-size: 14px;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1.5rem;
    list-style: none;
    border-radius: 0;
    border-bottom: 1px solid;
    background-color: transparent !important;
    border-color: #929292;
}

.text-center {
    font-size: small;
}

/* IMG-THUMB HISTORY PESERTA*/

.img-thumbnail {
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

.c-avatar-img {
    width: 36px;
    height: 36px;
    border-radius: 7em;
}

/* COLOR OF TD TABLE  */

.merah {
    background-color: crimson;
    color: whitesmoke;
}

#user-biodata .form-group {
    margin-bottom: 0;
}

#tgl-reg {
    /* z-index: 9999 !important */
}

/* ICON */

.icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    /* transition: all .3s linear; */
    position: absolute;
    top: 15px;
    right: 10px;
    /* z-index: 0; */
    font-size: 50px;
    color: rgba(0, 0, 0, 0.15);
}

.text-box-footer {
    padding: 0;
    display: block;
    /* z-index: 10; */
    background: rgba(0, 0, 0, 0.1);
}

.text-box-footer p {
    margin-bottom: 0;
    text-align: center;
}

.text-box {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    margin-top: 10px;
    padding: 10px;
    margin-right: 100px;
    top: 5px;
    left: 10px;
    text-align: center;
}

.text-box h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

/* ICON ENDING */

.card-body {
    padding: 0.25rem;
}

label {
    margin-bottom: 0.2rem;
}

#profil-card .card .card-body .form-group {
    margin-bottom: 0.3rem;
}

#nama-faskes {
    position: relative;
    /* z-index: 1000; */
}

.invalid-feedback {
    display: block;
}

.sembunyi {
    display: none;
}

.width-100 {
    width: 100%;
}

.bg-dark-green {
    background-color: #02731a;
}

.btn-success {
    background-color: #25b5e0;
    border-color: #25b5e0;
}

.c-app.c-legacy-theme {
    --primary: #20a8d8;
    --secondary: #c8ced3;
    --success: #4dbd74;
    --info: #63c2de;
    --warning: #ffc107;
    --danger: #f86c6b;
    --light: #f0f3f5;
    --dark: #2f353a;
    color: #23282c;
    background-color: #e4e5e6;
    --color: #23282c;
}

.c-legacy-theme .c-sidebar {
    color: #fff;
    background: #2f353a;
}

.c-sidebar-dark {
    color: #101011;
}

/* MODAL SEP */

#modal-sep,
#modal-rujukan {
    overflow-y: auto;
}

#modal-sep .form-group,
#modal-registrasi .form-group,
#moda-tempattidur .form-group {
    margin-bottom: 0.5rem;
}

#modal-sep .card-body .form-group,
.form-group label {
    margin-bottom: 0.2rem;
}

.modal-md {
    max-width: 1024px;
}

.modal-sm .modal-pulang {
    max-width: 600px;
}

.modal-header {
    padding: 0.1rem 0.1rem !important;
}

.modal-title {
    margin-left: 5px;
}

#modal-skdp .modal-md {
    max-width: 1024px;
}

#modal-sep .modal-xl {
    max-width: 1248px;
}

#modal-rujukan-post .modal-xl {
    max-width: 1248px;
}

.modal-header {
    padding: 0.3rem 0.3rem !important;
}

.modal-title {
    margin-left: 20px;
}

/* END MODAL */

.ui-front {
    /* z-index: 9999; */
}

/*  UI */

* html .ui-autocomplete {
    height: 200px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-autocomplete-input {
    border: none;
    font-size: 14px;
    height: 24px;
    margin-bottom: 5px;
    padding-top: 2px;
    border: 1px solid #ddd !important;
    padding-top: 0px !important;
    /* z-index: 10; */
    position: relative;
}

.ui-menu .ui-menu-item a {
    font-size: 12px;
}

.ui-autocompletp {
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 1510 !important; */
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover,
.ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

/* END UI */

#profil-card .card-body,
#biodata-card .card-body {
    padding: 0.5rem;
}

.btn-cus {
    padding: 0.0212rem 0.0812rem !important;
}

.btn-cus:hover {
    color: aqua;
    background-color: aqua;
}

/* modal pasien */

#modal-pasien .modal-xl {
    max-width: 90%;
}

#modal-pasien .form-group {
    margin-bottom: 0.5rem;
}

/* modal pasien */

#modal-rawat-jalan .modal-xl {
    max-width: 90%;
}

#modal-rawat-jalan .form-group {
    margin-bottom: 0.5rem;
}

#modal-rawat-inap .modal-xl {
    max-width: 90%;
}

#modal-rawat-inap .form-group {
    margin-bottom: 0.5rem;
}

#modal-rawat-darurat .modal-xl {
    max-width: 90%;
}

#modal-rawat-darurat .form-group {
    margin-bottom: 0.5rem;
}

#modal-verifikasi .modal-xl {
    max-width: 90%;
}

#modal-verifikasi .form-group {
    margin-bottom: 0.5rem;
}

/* PENUTUP MODAL SEP */

/* fix scroll modal */

/* .modal {
    overflow-y: auto !important;
} */

.modal {
    overflow-y: scroll !important;
}

/* readonly select2 */

select[readonly].select2 + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2 + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2 + .select2-container .select2-selection__arrow,
select[readonly].select2 + .select2-container .select2-selection__clear {
    display: none;
}

select[readonly] {
    pointer-events: none;
    touch-action: none;
    background: #eee;
    box-shadow: none;
}

/* custom is-valid */

.form-control.is-valid,
.was-validated .form-control:valid {
    background-image: none;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: none;
}

/**
  Component
**/

label.card-label {
    width: 100%;
}

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 00px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
    box-shadow: 0 0 4px 4px #007bff;
}

.bg-abu {
    background-color: #2f353a;
}

table .table {
    border-collapse: collapse !important;
}
